{% extends 'base.html' %}

{% block content %}
	<main>
		<div>
			<h1>My Projects</h1>
			<p><a href="{% url 'create_project' %}">Create a new project</a></p>
			{% if no_projects %}
			<p>You are not assigned to any projects</p>
			{% else %}
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Number of tasks</th>
				</tr>
			</thead>
			<tbody>
				{% for project_object in list_projects %}
				<tr>
					<td><a href="{% url 'show_project' project_object.id %}">{{ project_object.name }}</a></td>
					<td>{{ project_object.tasks.all | length }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
			{% endif %}
		</div>
	</main>
{% endblock content %} 
